<!-- Footer -->
<footer class="garr-bar text-white text-center p-3 mt-auto">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <h5 class="garr-text-warning">Privacy</h5>
        <ul class="list-unstyled">
          <li><a href="https://{{ .Env.SERVER_NAME }}/privacy.php" style="color: #ffffff">Privacy policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="garr-text-warning">Contacts</h5>
        <ul class="list-unstyled">
          <li>Email: <a href="mailto:{{ .Env.SERVER_ADMIN }}" class="garr-text-warning">{{ .Env.SERVER_ADMIN }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="/shared/js/jquery-3.5.1.min.js"></script>
<script src="/shared/js/bootstrap.bundle.min.js"></script>