<?php session_start();

if (isset($_SERVER['REMOTE_USER']) && !empty($_SERVER['REMOTE_USER'])) {
    echo '<div class="container d-flex justify-content-end">
            <button class="btn btn-danger btn-lg shadow-sm" onclick="window.location.href=\'/Shibboleth.sso/Logout?return=https://{{ .Env.SERVER_NAME }}\'">
                Logout
            </button>
          </div>';
    }
?>
