# Remove signature and tokens
ServerSignature Off
ServerTokens Prod

ServerName "{{ env.Getenv "SERVER_NAME" }}"

<VirtualHost *:80>
   {{- if (eq (env.Getenv "DEPLOY_TYPE") "prod") }}
   <IfModule mod_remoteip.c>
      RemoteIPProxyProtocol On
      RemoteIPInternalProxy {{ env.Getenv "HAPROXY_IP_RANGE" }}
   </IfModule>
   {{- end }}

   Redirect permanent "/" "https://{{ env.Getenv "SERVER_NAME" }}/"
   RedirectMatch permanent ^/(.*)$ https://{{ env.Getenv "SERVER_NAME" }}/$1
</VirtualHost>

<IfModule mod_ssl.c>
   <VirtualHost _default_:443>

      {{- if (eq (env.Getenv "DEPLOY_TYPE") "prod") }}
      <IfModule mod_remoteip.c>
         RemoteIPProxyProtocol On
         RemoteIPInternalProxy {{ env.Getenv "HAPROXY_IP_RANGE" }}
      </IfModule>
      {{- end }}

      ServerAdmin {{ env.Getenv "SERVER_ADMIN" }}
      
      CustomLog "|/usr/bin/logger -t [apache_access] -p local1.info" combined
      ErrorLog "|/usr/bin/logger -t [apache_error] -p local1.err"

      DocumentRoot /var/www/html/sp

      <Location /secure>
         Options Indexes FollowSymLinks
         AuthType shibboleth
         ShibRequestSetting requireSession 1
         Require valid-user
      </Location>

      #Prova di configurazione per MFA
      <Location /secureMFA>
         Options Indexes FollowSymLinks
         AuthType shibboleth
         ShibRequestSetting requireSession On
         <RequireAll>
            ShibRequestSetting authnContextClassRef https://refeds.org/profile/mfa
            require authnContextClassRef https://refeds.org/profile/mfa
            require valid-user
         </RequireAll>
      </Location>

      <Directory /var/www/html/sp>
         Options Indexes FollowSymLinks
         AllowOverride All
         Require all granted
      </Directory>

      SSLEngine On
      SSLProtocol All -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
      SSLCipherSuite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4"

      SSLHonorCipherOrder on

      # This will disallow embedding your sp's login page within an iframe.
      <IfModule headers_module>
         Header set X-Frame-Options DENY
         # Enable HTTP Strict Transport Security with a 2 year duration
         Header always set Strict-Transport-Security "max-age=63072000;includeSubDomains;preload"
      </IfModule>

      # Abilita Shibboleth per autenticazione federata (Blocco aggiunto per prova MFA)
      <IfModule mod_shib.c>
         ShibRequestSetting requireSession 1
         ShibRequestSetting applicationId default
      </IfModule>

      {{- if (eq (env.Getenv "DEPLOY_TYPE") "prod") }}
         SSLCertificateFile  {{ env.Getenv "SSL_CERT_LOCATION" }}/live/{{ env.Getenv "SERVER_NAME" }}/fullchain.pem
         SSLCertificateKeyFile  {{ env.Getenv "SSL_CERT_LOCATION" }}/live/{{ env.Getenv "SERVER_NAME" }}/privkey.pem
      {{- else }}
         SSLCertificateFile  {{ env.Getenv "SSL_CERT_LOCATION" }}/fullchain.pem
         SSLCertificateKeyFile  {{ env.Getenv "SSL_CERT_LOCATION" }}/privkey.pem
      {{- end }}

      # CA certificate if not included in SSLCertificateFile
      #SSLCACertificateFile /etc/ssl/certs/{{ env.Getenv "CA_CERT_NAME" }}.pem

      # Inoltro delle variabili di Shibboleth a PHP
      SetEnvIf Shib-Session-Index (.*) SHIB_SESSION_INDEX=$1
      SetEnvIf Shib-Identity-Provider (.*) SHIB_IDENTITY_PROVIDER=$1
      SetEnvIf Shib-AuthnContext-Class (.*) SHIB_AUTHN_CONTEXT=$1

      # Redirect needed to retrieve SP Metadata from its entityID
      Redirect "/shibboleth" "/Shibboleth.sso/Metadata"


   {{- if and (env.Getenv "EDS_ENABLED") (eq (env.Getenv "EDS_ENABLED") "true") }}
      Alias /shibboleth-ds /etc/shibboleth-ds
      <Directory "/etc/shibboleth-ds">
         Options Indexes FollowSymLinks
         AllowOverride None
         Require all granted
      </Directory>
   {{- end }}

   </VirtualHost>
</IfModule>

# Healthcheck
Listen 8888

<VirtualHost *:8888>
    DocumentRoot /var/www/html/sp

    # Avoid logs with health checks and monitoring requests
    SetEnvIf Request_URI  "^/health$"     is_health
    SetEnvIf User-Agent   "^healthcheck$" is_healthcheck
    SetEnvIfExpr "env('is_health') == '1' && env('is_healthcheck') == '1'" dontlog
    CustomLog "|/usr/bin/logger -t [apache_access] -p local1.info" combined env=!dontlog

    RewriteEngine On
    # Esenta /health dal redirect HTTPS
    RewriteRule ^/health$ /health.txt [L]

    Header always set Content-Type text/plain
</VirtualHost>
