<?php include('/var/www/html/sp/shared/header.html'); ?>

<!-- Main / Contenuto principale -->
<main class="flex-grow-1 d-flex align-items-center">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <!-- Testo Introduttivo -->
        <div class="mb-4">
          <h2 class="garr-text-warning">Welcome!</h2>
          <p class="text-start">
            This is a test Service Provider designed for IdP administrators to verify attribute release 
            {{- if .Env.FEDERATION_TYPE }}
              within the {{ .Env.FEDERATION_TYPE }} federation
            {{- end }}
            .
            It displays a summary HTML page showing the attributes sent by the IdP in the current session.
          </p>
          {{- if .Env.FEDERATION_TYPE }}
          <p class="text-start">
            Please note: this service is intended for participants of the {{ .Env.FEDERATION_TYPE }} federation only.
          </p>
          {{- end }}
        </div>

        <br>
        <!-- Card con idpSelect -->
        <div class="d-flex justify-content-center">
          <div class="card shadow-lg p-4 mb-3 rounded-4" style="max-width: 500px; background: #f8f9fa;">
            <div class="card-body">
              <h4 class="mb-3 fw-bold text-center garr-text-warning">Access the service</h4>
              <div id="idpSelect"></div>
              <script src="idpselect_config.js" type="text/javascript" language="javascript"></script>
              <script src="idpselect.js" type="text/javascript" language="javascript"></script>
              <noscript>
                Your browser does not support JavaScript. Please use
                <a href="http://federation.org/DS/DS?entityID=https%3A%2F%2FyourentityId.edu.edu%2Fshibboleth&return=https%3A%2F%2Fyourreturn.edu%2FShibboleth.sso%2FDS%3FSAMLDS%3D1%26target%3Dhttps%3A%2F%2Fyourreturn.edu%2F">
                  this link
                </a>.
              </noscript>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

<?php include('/var/www/html/sp/shared/footer.html'); ?>
   
</body>
</html>
