services:
    {{ fqdn | replace('.', '-') }}:
        image: {{ docker_image_location }}{{ docker_image_name }}:{{ docker_image_version }}
        container_name: {{ fqdn }}-{{ location }}
        hostname: {{ fqdn }}
        env_file:
            - ".env"
        ports:
            - "{{ http_port }}:80"
            - "{{ https_port }}:443"
        volumes:
            - "{{ ssl_cert_host_location }}:{{ ssl_cert_location }}"
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "-I", "http://127.0.0.1:8888/health"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
        logging:
            driver: syslog
            options:
                syslog-address: "udp://{{ syslog_ip }}:514"
                tag: "{{ '{{' }} .Name {{ '}}' }}"
