services:
    {{ fqdn | replace('.', '-') }}:
        image: {{ docker_image_location }}{{ docker_image_name }}:{{ docker_image_version }}
        container_name: {{ fqdn }}-{{ location }}
        hostname: {{ fqdn }}
        env_file:
            - ".env"
        ports:
            - "{{ http_port }}:80"
            - "{{ https_port }}:443"
        volumes:
            - "{{ ssl_cert_host_location }}:{{ ssl_cert_location }}"
        restart: unless-stopped
        logging:
            driver: syslog
            options:
                syslog-address: "udp://{{ syslog_ip }}:514"
                tag: "{{ '{{' }} .Name {{ '}}' }}"
