# http://www.rsyslog.com/doc/v8-stable/configuration/properties.html
# http://www.rsyslog.com/doc/v8-stable/configuration/templates.html

input(type="imudp" port="514")

# Templates for other.log
template(name="DockerOtherLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="other.log")
}

template(name="extractOther" type="list"){
   property(name="timereported" position.from="1" position.to="19" dateFormat="rfc3339")
   constant(value=" ")
   property(name="msg" droplastlf="on" position.from="2" position.to="-1")
   constant(value="\n")
}

# Template to extract MSG only
template(name="extractMsgOnly" type="list"){
   property(name="msg" droplastlf="on" position.from="2" position.to="-1")
   constant(value="\n")
}

# Apache2 Access Log PATH
template(name="DockerApache2AccessLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="apache-access.log")
}

# Apache2 Error Log PATH
template(name="DockerApache2ErrorLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="apache-error.log")
}

# Cron + JWT2JSON Log PATH
template(name="DockerCronLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="cron.log")
}

# Shibd Log PATH
template(name="DockerShibdLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="shibd.log")
}

# Shibd-warn Log PATH
template(name="DockerShibdWarnLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="shibd-warn.log")
}

# Shibd-transaction Log PATH
template(name="DockerShibdTransactionLogsPath" type="list") {
   constant(value="/opt/docker-logs/")
   property(name="programname")
   constant(value="/")
   constant(value="shibd-transaction.log")
}

# define new ruleset and add rules to it
# http://www.rsyslog.com/doc/v8-stable/configuration/modules/omfile.html
if ( $programname contains "{{ fqdn | replace('.garr.it', '')}}" ) then {
   if ( $msg contains "[apache_access]") then {
      action(type="omfile" dynaFile="DockerApache2AccessLogsPath" template="extractMsgOnly")
   }
   else if ( $msg contains "[apache_error]") then {
      action(type="omfile" dynaFile="DockerApache2ErrorLogsPath" template="extractMsgOnly")
   }
   else if ( $msg contains "[cron]" or $msg contains "[jwt2json]") then {
      action(type="omfile" dynaFile="DockerCronLogsPath" template="extractMsgOnly")
   }
   else if ( $msg contains "[shibd]") then {
      action(type="omfile" dynaFile="DockerShibdLogsPath" template="extractMsgOnly")
   }
   else if ( $msg contains "[shibd_warn]") then {
      action(type="omfile" dynaFile="DockerShibdWarnLogsPath" template="extractMsgOnly")
   }
   else if ( $msg contains "[shibd_transaction]") then {
      action(type="omfile" dynaFile="DockerShibdTransactionLogsPath" template="extractMsgOnly")
   }
   else {
      action(type="omfile" dynaFile="DockerOtherLogsPath" template="extractOther")
   }
}
